{% extends "base.html" %}
{% block head_title %} {{ title }} | {{ block.super }} {% endblock head_title %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'users:index' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'tickets:list' %}">Record List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Ticket</li>
    </ol>
</nav>
<hr>

<form method="POST" enctype="multipart/form-data" class="offset-md-3"> {% csrf_token %}
    <div class="form-group row">
        <label class="col-md-2 col-form-label">{{ form.client_id.label }} <span class="required-field">*</span></label>
        <div class="col-md-6">
            {{ form.client_id }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label">{{ form.contact.label }} </label>
        <div class="col-md-6">
            {{ form.contact }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Branch <span class="required-field">*</span> </label>
        <div class="col-sm-6">
            {{ form.branch_id }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Problem Domain <span class="required-field">*</span> </label>
        <div class="col-sm-6">
            {{ form.problem_domain_id }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form.status.label }}</label>
        <div class="col-sm-6">
            {{ form.status}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form.remarks.label }} <span class="required-field">*</span> </label>
        <div class="col-sm-6">
            {{ form.remarks }}
        </div>
    </div>
    <div class="form-group row" >
        <label class="col-sm-2 col-form-label" >{{ form.ticket.label }} </label>
        <div class="col-sm-6">
            {{ form.ticket}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form.source.label }}</label>
        <div class="col-sm-6">
            {{ form.source}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee <span class="required-field">*</span> </label>
        <div class="col-sm-6">
            {{ form.employee_id}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary offset-md-2">Add Record</button>
</form>

{% endblock %}
