{% extends "base.html" %}
{% load static %}
{% block head_title %} Organizations|{{ block.super }} {% endblock head_title %}
{% block content %}

<div style="float:right">
    <a href='{% url "organizations:org_pdf" %}' class="btn btn-primary" style="margin-top:8px;" target="_blank">PDF Report</a> &nbsp;
    <a href='{% url "organizations:create" %}' class="btn btn-primary" style="margin-top:8px;">Add Organization</a>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'users:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Organization List</a></li>
    </ol>
</nav>
<hr>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>S.N.</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>IT officer</th>
        <th>Mobile</th>
        <th>Is active </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'organizations:detail' obj.id %}"> {{ obj }}</a></td>
        <td>{{ obj.address }}</td>
        <td>{{ obj.phone }}</td>
        <td>{{ obj.contact_person2 }}</td>
        <td>{{ obj.mobile2 }}</td>
        <td>{{ obj.is_active }}</td>
        <td>
            <a href="{% url 'organizations:edit' obj.id %}">
                <i class="fas fa-pen-square" title="edit"></i>
            </a> &nbsp;
            <a href="{% url 'organizations:delete' obj.id %}" data-toggle="modal" data-target="#obj-{{ obj.id }}">
                <i class="far fa-trash-alt" title="delete"></i>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="obj-{{ obj.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Organization Delete</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are You Sure?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{% url 'organizations:delete' obj.id %}">
                                <button type="button" class="btn btn-danger">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination ">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
