{% load static %}
<html>
<head>
    <base href="{{ base_url }}"/>
    <title>Organizations Report</title>
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}"/>
    <style type="text/css">
    </style>
</head>
<body>
<div>
    <h1 class="text-center">Organizations</h1>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>SN</th>
        <th>Date</th>
        <th>Type</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td> {{ obj }} </td>
        <td>{{ obj.address }}</td>
        <td>{{ obj.phone }}</td>
        <td>{{ obj.contact_person2 }}</td>
        <td>{{ obj.mobile2 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
</body>
</html>