{% extends "base.html" %}
{% load static %}
{% block head_title %} Organizations|{{ block.super }} {% endblock head_title %}
{% block content %}

<br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable ">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>{{ message.tags }} !!</strong> {{ message }}
            </div>
        {% endfor %}
    {% endif %}
<div class="row">
    <div class="col-md-4">
        <a href="{% url 'tickets:create' %}">
            <div class="card text-center green">
                <div class="card-body">
                    <i class="fas fa-book fa-8x white"></i>
                </div>
                <div class="card-footer white">
                    ADD RECORD
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'employees:list' %}">
            <div class="card text-center green">
                <div class="card-body">
                   <i class="fas fa-users fa-8x white"></i>

                </div>
                <div class="card-footer white">
                    EMPLOYEE
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'tickets:list' %}">
            <div class="card text-center green">
                <div class="card-body">
                    <i class="fas fa-ticket-alt fa-8x white"></i>
                </div>
                <div class="card-footer white">
                    RECORDS
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}