{% extends "base.html" %}
{% block head_title %} Employee Detail| {{ block.super }} {% endblock head_title %}
{% block content %}

<div style="float:right">
    <a href='{% url "employees:create" %}' class="btn btn-primary" style="margin-top:8px;">Add Employee</a>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'users:index' %}">Home</a></li>
        <li class="breadcrumb-item active">Employee</li>
    </ol>
</nav>
<hr>

<div class="row">
    <div class="offset-md-2 col-md-5">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>S.N.</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for emp in employees %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td class="{% if employee.pk == emp.pk %}link-active{% endif %}">
                    <a href="{% url 'employees:detail' emp.id %}">
                        {{ emp.first_name }}
                        {% if emp.middle_name %}
                        {{ emp.middle_name }}
                        {% endif %}
                        {{ emp.last_name }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'employees:edit' emp.id %}">
                        <i class="fas fa-pen-square" title="edit"></i>
                    </a>
                    &nbsp; &nbsp;
                    <a href="{% url 'employees:delete' emp.id %}" data-toggle="modal"
                       data-target="#emp-{{ emp.id }}">
                        <i class="far fa-trash-alt" title="delete"></i>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="emp-{{ emp.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">Organization Delete</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are You Sure?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="{% url 'employees:delete' emp.id %}">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                {% if employee.picture %}
                <img src="{{ employee.picture.url|default_if_none:'#' }}" width="300" height="300"> <br>
                {% endif %}
            </div>
            <div class="card-footer">
                <h4> {{ employee.position }} </h4>
                <h3>
                    {{ employee.first_name }}
                    {% if employee.middle_name %}
                    {{ employee.middle_name }}
                    {% endif %}
                    {{ employee.last_name }}
                </h3>
                <h5><a href="# "> {{ employee.email }} </a></h5>
                <h5> {{ employee.mobile }} </h5>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}