{% extends "base.html" %}
{% block head_title %} Employee Detail| {{ block.super }} {% endblock head_title %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'users:index' %}">Home</a></li>
        <li class="breadcrumb-item active">Employee</li>
    </ol>
</nav>
<hr>

<div class="row">
    <div class="col-md-4">
        <ol>
            {% for emp in employees %}
            <li class="{% if employee.pk == emp.pk %}link-active{% endif %}">
                <a href="{% url 'employees:detail' emp.id %}">
                    {{ emp.first_name }}
                    {% if emp.middle_name %}
                    {{ emp.middle_name }}
                    {% endif %}
                    {{ emp.last_name }}
                </a>
            </li>
            {% endfor %}
        </ol>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <img src="{{ employee.picture.url|default_if_none:'#' }}" width="300" height="300"> <br>
            </div>
            <div class="card-footer">
                <h4> {{ employee.position }} </h4>
                <h3>
                    {{ employee.first_name }}
                    {% if employee.middle_name %}
                    {{ employee.middle_name }}
                    {% endif %}
                    {{ employee.last_name }}
                </h3>
                <h5><a href="# "> {{ employee.email }} </a></h5>
                <h5> {{ employee.mobile }} </h5>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}