{% extends "base.html" %}
{% load static %}
{% block head_title %} Employyes|{{ block.super }} {% endblock head_title %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'users:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employee List</a></li>
    </ol>
</nav>
<hr>
<div class="row">
    <div class="col-md-4">
        {% for obj in object_list %}
        <p>
            <a href="{% url 'employees:detail' obj.id %}">
                {{ obj.first_name }}
                {% if obj.middle_name %}
                {{ obj.middle_name }}
                {% endif %}
                {{ obj.last_name }}
            </a>
        </p>
        {% endfor %}
    </div>
</div>
{% endblock %}
