{% extends "base.html" %}
{% block head_title %} Org Detail| {{ block.super }} {% endblock head_title %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'users:index' %}">Home</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'organizations:list' %}">Organizations</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
  </ol>
</nav>
<hr>

<div class="row">
    <div class="offset-md-3 col-md-6">
        <table class="table table-bordered table-hover">
            <tr>
                <td>Name</td>
                <td> {{ object.name }} </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{ object.address }}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{ object.phone }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ object.email }}</td>
            </tr>
            <tr>
                <td>Contact Person1</td>
                <td>{{ object.contact_person1 }}</td>
            </tr>
            <tr>
                <td>Mobile1</td>
                <td>{{ object.mobile1 }}</td>
            </tr>
            <tr>
                <td>Contact Person2</td>
                <td>{{ object.contact_person2 }}</td>
            </tr>
            <tr>
                <td>Mobile2</td>
                <td>{{ object.mobile2 }}</td>
            </tr>
            <tr>
                <td>Logo</td>
                <td><img src="{{ object.logo_url|default_if_none:'#' }}" width="180" height="180"/></td>
        </table>
    </div>
</div>
{% endblock %}