{% extends "base.html" %}
{% block head_title %} {{ title }} | {{ block.super }} {% endblock head_title %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'users:index' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'products:list' %}">Prducts </a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Product</li>
    </ol>
</nav>
<hr>

<form method="POST" class="offset-md-3"> {% csrf_token %}
    <div class="form-group row">
        <label class="col-md-2 col-form-label">{{ form.name.label }} <span class="required-field">*</span></label>
        <div class="col-md-6">
            {{ form.name }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form.description.label }}</label>
        <div class="col-sm-6">
            {{ form.description}}
        </div>
    </div>
    <button type="submit" class="btn btn-primary offset-md-2">Add Product</button>
</form>

{% endblock %}